
body {
  padding: 0px;
}

.demo {
  display: flex;
}

/* style for the modal */

.stack-modal,
.stack-modal-box {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.stack-modal.stack-enter,
.stack-modal.stack-leave.stack-leave-active {
  opacity: 0.01;
}

.stack-modal.stack-enter.stack-enter-active {
  opacity: 1;
}

.stack-modal.stack-enter .stack-modal-box,
.stack-modal.stack-leave.stack-leave-active .stack-modal-box {
  transform: translate(0, -100px);
}

.stack-modal.stack-leave .stack-modal-box,
.stack-modal.stack-enter.stack-enter-active .stack-modal-box {
  transform: translate(0, 0);
}

.stack-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,20%,40%,0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stack-modal .stack-modal-box {
  width: 400px;
  min-height: 200px;
  background-color: white;
}

/* style the popover */

.stack-popover {
  position: absolute;
  border-radius: 3px;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
}

.stack-popover {
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.stack-popover.stack-enter,
.stack-popover.stack-leave.stack-leave-active {
  opacity: 0.01;
}

.stack-popover.stack-enter.stack-enter-active {
  opacity: 1;
}

/* style overlay */
